!!!
html
  head
    title SocketIO-API example-mponizil
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket.api.js')
    script(src='/javascripts/client.js')
  body!= body