!!!
html
  head
    title SocketIO-API example-cwh
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket.api.js')
    script(src='/javascripts/client.js')
  body!= body